@mixin basic-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin sub-heading-text {
  font-weight: 700;
  font-size: clamp(25px, 3vw, 33px);
  color: $ocean-green;
  margin-bottom: 20px;
}
