

$deepest-blue: #0f3057;
$deep-blue: #00587a;
$light-blue: #008891;
$white-text: #e7e7de;
$nyanza: #d8f3dc;
$ocean-green:#75c79e;

// $deep-blue: #0278ae;
// $light-blue: #51adcf;
// $ice-gold: #a5ecd7;
// $snow-flurry: #e8ffc1;

// $blue-sapphire: hsla(197, 93%, 29%, 1);
// $metallic-seaweed: hsla(187, 97%, 29%, 1);
// $persian-green: hsla(174, 100%, 33%, 1);
// $mountain-meadow: hsla(167, 98%, 39%, 1);
// $pale-spring-bud: hsla(63, 69%, 85%, 1);

// $turquoise-green: hsla(141, 45%, 81%, 1);
// $turquoise-green-2: hsla(147, 43%, 71%, 1);
// $ocean-green-2: hsla(152, 41%, 52%, 1);
// $illuminating-emerald: hsla(153, 39%, 41%, 1);
// $bottle-green: hsla(153, 40%, 30%, 1);
// $brunswick-green: hsla(155, 43%, 18%, 1);
// $dark-jungle-green: hsla(159, 56%, 7%, 1);
